<div class="dropdown">
  <button type="button" (blur)="handleBlur($event)" class="panel" (click)="toggle()">
    <text [textType]="labelType">{{ chosenVariant }}</text>
    <img [ngClass]="{ open: isOpen }" src="assets/icons/arrow.svg" alt="ccs" />
  </button>
  <div *ngIf="isOpen" class="content">
    <ng-container><ng-content></ng-content></ng-container>
  </div>
</div>
<div class="short_variants">
  <UI-button
    type="button"
    [buttonStyle]="buttonUnderline"
    *ngFor="let item of shortVariants; index as i"
    (clickButton)="handleShortBtnClick(i)"
    >item
  </UI-button>
</div>
