<div #content class="dropdown">
  <button type="button" (blur)="handleBlur($event)" class="panel" (click)="toggle()">
    <div class="title">
      <img *ngIf="icon" [src]="icon" alt="" />
      <text [textType]="TextType.VALUE">
        {{ chosenVariant }}
      </text>
    </div>
    <img [ngClass]="{ arrow: true, open: isOpen }" src="assets/icons/arrow.svg" alt="ccs" />
  </button>
  <div [ngStyle]="{ height: contentHeight + 'px' }" [ngClass]="{ content: true, hidden: !isOpen, top: isTopOpen }">
    <ng-container><ng-content></ng-content></ng-container>
  </div>
</div>
<div class="short_variants">
  <UI-button
    type="button"
    [buttonStyle]="ButtonStyles.SIMPLE_UNDERLINE"
    *ngFor="let item of shortVariants; let index = index"
    (clickButton)="handleShortBtnClick(index)"
    >item
  </UI-button>
</div>
