<div class="view">
  <text [textType]="TextType.TITLE">Проверка данных заказа</text>
  <div class="cards">
    <card
      (changeEmitter)="handleCardChange('user/false')"
      name="Получатель"
      [values]="receiver"
      [canChange]="true"
    ></card>
    <card
      (changeEmitter)="handleCardChange('user/true')"
      name="Отправитель"
      [values]="sender"
      [canChange]="true"
    ></card>
    <card
      (changeEmitter)="handleCardChange('address/true')"
      name="Откуда забрать"
      [values]="senderAddress"
      [canChange]="true"
    ></card>
    <card
      (changeEmitter)="handleCardChange('address/false')"
      name="Куда доставить"
      [values]="receiverAddress"
      [canChange]="true"
    ></card>
  </div>
</div>
