<div class="view">
  <text [textType]="TextType.TITLE">Проверка данных</text>
  <div class="cards">
    <card
      (changeEmitter)="handleCardChange('user/false')"
      name="Получатель"
      [values]="receiver"
      [canChange]="true"
    ></card>
    <card
      (changeEmitter)="handleCardChange('user/true')"
      name="Отправитель"
      [values]="sender"
      [canChange]="true"
    ></card>
    <card
      (changeEmitter)="handleCardChange('address/true')"
      name="Откуда забрать"
      [values]="senderAddress"
      [canChange]="true"
    ></card>
    <card
      (changeEmitter)="handleCardChange('address/false')"
      name="Куда доставить"
      [values]="receiverAddress"
      [canChange]="true"
    ></card>
  </div>
  <div class="short_info">
    <text [textType]="TextType.SMALL_TITLE">Итого: {{ option.price }}₽</text>
    <text [textType]="TextType.VALUE">Тариф: {{ option.name }}</text>
    <text [textType]="TextType.VALUE">Срок: {{ option.days }} рабочий день</text>
  </div>
  <div class="panel">
    <UI-button [buttonStyle]="ButtonType.SIMPLE">Отменить</UI-button>
    <UI-button type="button" [buttonStyle]="ButtonType.BRAND">Отправить</UI-button>
  </div>
</div>
