<dropdown [isCloseOnClick]="false" [chosenVariant]="chosenVariant">
  <div class="dropdown">
    <tabs [variants]="tabsVariants" (switchVariant)="toggleIsExactlySize($event)"></tabs>
    @if (isExactlySize) {
      <div class="form">
        <field
          [isRow]="true"
          type="number"
          placeholder="см"
          label="Длина"
          [formGroup]="formGroup"
          name="length"
        ></field>
        <field
          [isRow]="true"
          type="number"
          placeholder="см"
          label="Ширина"
          [formGroup]="formGroup"
          name="width"
        ></field>
        <field
          [isRow]="true"
          type="number"
          placeholder="см"
          label="Высота"
          [formGroup]="formGroup"
          name="height"
        ></field>
        <field [isRow]="true" type="number" placeholder="кг" label="Вес" [formGroup]="formGroup" name="weight"></field>
      </div>
    } @else {
      <controls [values]="dropDownVariants" (emitChosenIndex)="handleChoseVariant($event)"></controls>
    }
  </div>
</dropdown>
