<header>
  <a routerLink=""><img src="assets/icons/logo.svg" alt="Главная" /></a>
  <div *ngIf="isAuth" class="profile">
    <a routerLink="profile" class="item">
      <img src="assets/icons/union.svg" alt="" />
      <text [textType]="TextType.CARD_TITLE">Профиль</text>
    </a>
    <a routerLink="history" class="item">
      <img src="assets/icons/clock.svg" alt="" />
      <text [textType]="TextType.CARD_TITLE">История</text>
    </a>
  </div>
  @if (isAuth) {
    <button (click)="handleLogOut()" type="button" class="item">
      <img src="assets/icons/exit.svg" alt="" />
      <text [textType]="TextType.CARD_TITLE">Выйти</text>
    </button>
  } @else {
    <a routerLink="auth"><text [textType]="TextType.CARD_TITLE">Войти</text></a>
  }
</header>
