.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  margin-block-start: 64px;
  flex: 1 1 auto;
  display: grid;
}

app-bottom-bar {
  display: none;
}

@media (max-width: 768px) {
  app-header {
    display: none;
  }

  app-bottom-bar {
    display: block;
  }

  main {
    margin-block: 0 64px;
  }
}

router-outlet {
  display: none;
}
