.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-inline: 80px;
  height: 100%;

  & > * {
    width: 100%;
    text-align: center;
  }

  & img {
    width: auto;
  }
}

@media (max-width: 768px) {
  .content {
    padding-inline: 0;
  }
}
