.auth {
  max-width: 444px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 24px;

  & > * {
    margin-inline: auto;
  }
}

text {
  text-align: center;
}

field {
  width: 100%;
}

UI-button {
  max-width: 328px;
  width: 100%;
  height: 56px;
}
