<form class="auth" [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
  <text [textType]="TextType.TITLE">Вход</text>
  <text [textType]="TextType.VALUE">Введите номер телефона для входа в личный кабинет</text>
  <field [formGroup]="formGroup" name="phone" placeholder="Телефон"></field>
  <field type="number" *ngIf="isPhoneSubmit" [formGroup]="formGroup" name="code" placeholder="Проверочный код"></field>
  <UI-button [type]="'submit'" [buttonStyle]="ButtonStyles.BRAND">Войти</UI-button>
</form>
