<form class="auth" [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
  <text [textType]="titleType">Вход</text>
  <text [textType]="subtitleType">Введите номер телефона для входа в личный кабинет</text>
  <field [formGroup]="formGroup" name="phone" placeholder="Телефон"></field>
  <field type="number" *ngIf="isPhoneSubmit" [formGroup]="formGroup" name="code" placeholder="Проверочный код"></field>
  <UI-button width="100%" height="56px" [type]="'submit'" [buttonStyle]="buttonStyle">Войти</UI-button>
</form>
