<ul class="options">
  <li [class]="{ express: option.type === 'EXPRESS' }" *ngFor="let option of options">
    <button class="option">
      <div class="image">
        <img
          [src]="option.type === 'EXPRESS' ? 'assets/icons/expressDelivery.svg' : 'assets/icons/defaultDelivery.svg'"
          alt=""
        />
      </div>

      <div class="description">
        <text [textType]="smallTextType">{{ option.name }}</text>
        <text [textType]="smallTitleType">{{ option.price }} ₽</text>
        <text [textType]="smallTextType">{{ option.days }} рабочий день</text>
      </div>
    </button>
  </li>
</ul>
