.wrapper {
  display: flex;
  justify-content: center;
  padding-block-start: 30px;
  padding-inline: 30px;

  & > * {
    width: 100%;
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-inline: 20px;
  }
}
