<label [ngClass]="{ field: true, row: isRow }" [htmlFor]="name" [formGroup]="formGroup">
  <text *ngIf="label" [textType]="labelType">{{ label }}</text>
  @if (tag === 'input') {
    <input
      [placeholder]="placeholder"
      [ngClass]="{
        input: true,
        error: error && formGroup.controls[name].touched,
        disabled: formGroup.controls[name].disabled || false
      }"
      [formControlName]="name"
      [name]="name"
      [type]="type"
    />
  } @else {
    <textarea
      [placeholder]="placeholder"
      [ngClass]="{
        input: true,
        textarea: true,
        error: error && formGroup.controls[name].touched,
        disabled: formGroup.controls[name].disabled || false
      }"
      [formControlName]="name"
      [name]="name"
      [rows]="rows"
    ></textarea>
  }
  <text *ngIf="error && formGroup.controls[name].touched" [textType]="errorType">{{ error }}</text>
</label>
