.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 464px;
}

.input {
  border: 1px solid var(--Border-Light);
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  padding-inline-start: 10px;

  &:focus {
    border: 2px solid var(--Indicator-Focused);
  }

  &::placeholder {
    color: var(--Text-Tertiary);
    font-size: 16px;
    line-height: 24px;
  }
}

.textarea {
  padding-block-start: 12px;
  padding-inline: 12px;
  resize: none;
  height: auto;
}

.disabled {
  background-color: var(--Background-Disabled);

  &:focus {
    border: 1px solid var(--Border-Light);
  }
}

.error {
  border: 2px solid var(--Indicator-Error);
}

@media (max-width: 360px) {
  .field > *:first-child {
    display: none;
  }
}
