<label class="field" [htmlFor]="name" [formGroup]="formGroup">
  <text *ngIf="label" [textType]="labelType">{{ label }}</text>
  @if (tag === 'input') {
    <input
      [placeholder]="label"
      [ngClass]="{ input: true, error: error, disabled: disabled }"
      [formControlName]="name"
      [name]="name"
      [type]="type"
      [disabled]="disabled"
      [readOnly]="disabled"
    />
  } @else {
    <textarea
      [placeholder]="label"
      [disabled]="disabled"
      [ngClass]="{ input: true, textarea: true, error: error, disabled: disabled }"
      [formControlName]="name"
      [name]="name"
      [readOnly]="disabled"
      [rows]="rows"
    ></textarea>
  }
  <text *ngIf="error" [textType]="errorType">{{ error }}</text>
</label>
