@import './null.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
  --Text-Primary: #141c24;
  --Text-Secondary: #344051;
  --Text-Teritary: #637083;
  --Text-Invert: #fff;
  --Text-Brand: #1975ff;
  --Text-Brand-Light: #1a75ff;
  --Text-Quartenery: #97a1af;
  --Border-Light: #ced2da;
  --Border-Medium: #97a1af;
  --Border-ExtraLight: #e3e5e5;
  --Background-Secondary: #f3f4f6;
  --Background-Primary: #fff;
  --Background-Disabled: #f3f4f6;
  --Background-Brand: #1975ff;
  --Background-Hover-Primary: #0052cc;
  --Background-Brand-ExtraLight: #cce0ff;
  --Background-Teritary: #f9fafb;
  --Background-Brand-Light: #f0f6ff;
  --Indicator-Focused-Alternative: #cce0ff;
  --Indicator-Focused: #4c94ff;
  --Indicator-Error: #f64c4c;
  --Indicator-Positive: #40bf7f;
  --Indicator-Attention: #ffb219;
}
