/* You can add global styles to this file, and also import other style files */
body {
  --Text-Primary: '#141C24';
  --Text-Secondary: '#344051';
  --Text-Teritary: '#637083';
  --Text-Invert: '#FFF';
  --Text-Brand: '#1975FF';
  --Text-Brand-Light: '#1A75FF';
  --Text-Quartenery: '#97A1AF';
  --Border-Light: '#CED2DA';
  --Border-Medium: '#97A1AF';
  --Border-ExtraLight: '#E3E5E5';
  --Background-Secondary: '#F3F4F6';
  --Background-Primary: '#FFF';
  --Background-Disabled: '#F3F4F6';
  --Background-Brand: '#1975FF';
  --Background-Hover-Primary: '#0052CC';
  --Background-Brand-ExtraLight: '#CCE0FF';
  --Background-Teritary: '#F9FAFB';
  --Background-Brand-Light: '#F0F6FF';
  --Indicator-Focused-Alternative: '#CCE0FF';
  --Indicator-Focused: '#4C94FF';
  --Indicator-Error: '#F64C4C';
  --Indicator-Positive: '#40BF7F';
  --Indicator-Attention: '#FFB219';
}