<ul class="list">
  <li *ngFor="let value of values; let index = index">
    <button
      [ngClass]="{ item: true, itemWithIcon: withIcon, chosenButton: !withIcon && chosenIndexes.includes(index) }"
      (click)="handleChose(index)"
      type="button"
    >
      <img
        [ngClass]="{ icon: true, chosen: chosenIndexes.includes(index) }"
        *ngIf="withIcon"
        src="assets/icons/check.svg"
        alt=""
      />
      <text [textType]="TextType.VALUE">{{ value }}</text>
    </button>
  </li>
</ul>
